[Desktop Entry]
Categories=Games
Comment[en_GB]=BeamNG.drive is an incredibly realistic driving game with near-limitless possibilities.
Comment=BeamNG.drive is an incredibly realistic driving game with near-limitless possibilities.
Exec=/home/goldy/.local/bin/beammp
GenericName[en_GB]=BeamNG native Linux build!
GenericName=BeamNG native Linux build!
Icon=steam_icon_284160
MimeType=
Name[en_GB]=BeamNG Drive
Name=BeamNG Drive
Path=
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
